.App {
  text-align: center;
}

.navigations {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 5px solid darkgreen;
}

td {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  background-color: darkgreen;
  color: #fff;
}

.prev-btn, .next-btn {
  width: 6rem;
  height: 2rem;
  background-color: darkgreen;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.page-num{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: darkgreen;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.table-and-pagination{
  display: flex;
  flex-direction: column;
}